<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>NewServletLogin</servlet-name>
        <servlet-class>controller.NewServletLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServletHome</servlet-name>
        <servlet-class>controller.NewServletHome</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServletFuncion</servlet-name>
        <servlet-class>controller.NewServletFuncion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServletPelicula</servlet-name>
        <servlet-class>controller.NewServletPelicula</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServletGeneros</servlet-name>
        <servlet-class>controller.NewServletGeneros</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NewServletLogin</servlet-name>
        <url-pattern>/NewServletLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServletHome</servlet-name>
        <url-pattern>/NewServletHome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServletFuncion</servlet-name>
        <url-pattern>/NewServletFuncion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServletPelicula</servlet-name>
        <url-pattern>/NewServletPelicula</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServletGeneros</servlet-name>
        <url-pattern>/NewServletGeneros</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
